$enable-flex:               true;
$enable-grid-classes:       true;

$primary-blue: #19458d;

body.LocationGroupController.ckan_index {
    /* Add bootstrap grid styles for country_list.html snippet */
    @import 'bootstrap/scss/bootstrap-grid.scss';
    #content {
        .primary.span10 {
            width: auto;    /* Overide CKAN's fixed with spans for locationgroup index page */
        }
    }
    #country_list {
        .char-box {
            border-top: 1px solid $primary-blue;
            margin-bottom: 20px;
            &:first-child {
                border-top: none;
            }
            .char-label {
                color: $primary-blue;
                font-size: 24px;
                line-height: 24px;
                font-weight: 600;
                margin: 15px 0 15px 0;
            }
            .country-item a {
                color: black;
                font-weight: bold;
            }
        }
    }
}
