{% extends "group/edit.html" %}

{% block breadcrumb_content %}
  <li>{% link_for _('Events'), controller='ckanext.mapactionevent.controllers.event_groupcontroller:EventGroupController', action='index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), controller='ckanext.mapactionevent.controllers.event_groupcontroller:EventGroupController', action='read', id=group.name %}</li>
    <li class="active">{% link_for _('Manage'), controller='ckanext.mapactionevent.controllers.event_groupcontroller:EventGroupController', action='edit', id=group.name %}</li>
  {% endblock %}
{% endblock %}

{% block content_action %}
  {% snippet "mapactionimporter/snippets/import_button.html" %}
  {% link_for _('View'), controller='ckanext.mapactionevent.controllers.event_groupcontroller:EventGroupController', action='read', id=c.group_dict.name, class_='btn', icon='eye-open' %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('event_edit', _('Edit'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('event_members', _('Members'), id=c.group_dict.name) }}
{% endblock %}
