{% extends "group/read.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='ckanext.locationgroup.controllers.location_groupcontroller:LocationGroupController', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_action %}
  {% snippet "mapactionimporter/snippets/import_button.html" %}
  {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
    {% link_for _('Manage'), controller='ckanext.locationgroup.controllers.location_groupcontroller:LocationGroupController', action='edit', id=c.group_dict.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% set type = c.group_dict.type or 'location' %}
{% block content_primary_nav %}
  {{ h.build_nav_icon(type ~ '_read', _('Datasets'), id=c.group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon(type ~ '_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon(type ~ '_about', _('About'), id=c.group_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/locationgroup_info.html", group=c.group_dict, show_nums=true %}
{% endblock %}
