{% ckan_extends %}

{% block primary_content %}
  <h2 class="hide-heading">{{ _('My Groups') }}</h2>
  {% if c.events %}
    <div class="wide">
      {% snippet "group/snippets/group_list.html", groups=c.events %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any groups.') }}
      {% if h.check_access('group_create') %}
        {% link_for _('Create one now?'), controller='ckanext.mapactionevent.controllers.event_groupcontroller:EventGroupController', action='new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
